.product_detail_container {
  padding: 10px;
}
.controller_detail_product {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  padding-left: 0;
}
.controller_detail_product_link {
  display: flex;
  align-items: center;
  gap: 5px;
}
.controller_detail_product_link a {
  text-decoration: none;
  color: var(--grey-color);
}
.controller_detail_product_link img {
  height: 10px;
  width: 10px;
}
.product_detail_main {
  padding: 37px;
  border: 1px solid #bfbfbf;
}

.product_detail_main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product_detail_img_show img {
  height: 400px;
  height: 400px;
  min-width: 342px;
  object-fit: cover;
  width: 100%;
}
.product_detail_img_show {
  overflow: hidden;
  border-radius: 10px;
}
.product_detail_img_pview {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 5px;
}
.product_detail_img_pview img {
  max-height: 90px;
  width: 100px;
  border-radius: 5px;
  object-fit: cover;
  opacity: 0.5;
  cursor: pointer;
}
.product_detail_img_pview .active {
  opacity: 1;
}

.product_detail_main_infor {
  grid-column: 2/4;
}

.product_name_detail {
  font-size: 35px;
  font-weight: 600;
  color: var(--grey-color);
}
.product_detail_start_vote {
  display: flex;
  gap: 3px;
  margin: 5px 0;
}
.product_detail_start_vote i {
  color: #ff9f43;
}
.product_detail_cost {
  font-size: 20px;
  font-weight: 600;
  color: var(--grey-color);
  margin: 20px 0;
}
.product_detail_shipping {
  display: flex;
  gap: 20px;
}

.product_detail_shipping_item {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--grey-color);
  font-size: 14px;
}
.product_detail_description {
  color: var(--grey-color);
  margin: 20px 0;
}
.product_detail_description h3 {
  font-weight: 600;
  font-size: 15px;
}
.product_detail_description p {
  font-size: 14px;
}
.product_detail_common {
  display: flex;
  gap: 30px;
  align-items: center;
  width: 150px;
  justify-content: space-between;
  margin: 20px 0;
}
.product_detail_common span {
  font-size: 12px;
  font-weight: 600;
  color: #7367f0;
  padding: 5px 10px;
  border-radius: 17px;
  background: rgba(115, 103, 240, 0.12);
}
.product_detail_common p {
  font-weight: 600;
  font-size: 15px;
  color: var(--grey-color);
}
.product_detail_color_items {
  display: flex;
  gap: 10px;
}
.product_detail_color_items {
}
.product_detail_color_items p {
  height: 25px;
  width: 25px;
  background-color: #7367f0;
  border-radius: 100rem;
  cursor: pointer;
}
.product_detail_color_items .active {
  outline: 1px solid var(--grey-color);
  outline-offset: 1px;
}
.product_detail_color_items :first-child {
  background-color: black;
}
.product_detail_color_items :nth-child(2) {
  background-color: pink;
}
.product_detail_color_items :nth-child(3) {
  background-color: yellow;
}
.product_detail_end {
  display: flex;
  align-items: center;
  gap: 50px;
}
.product_detail_button button {
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 100rem;
  background-color: #388186;
  color: white;
  outline: none;
  border: none;
}
.product_detail_button :last-child {
  border: 1px solid #388186;
  color: #388186;
  background-color: white;
}
.product_detail_review {
  padding: 38px;
  border: 1px solid #ccc;
  margin-top: 20px;
}
.product_detail_review h3 {
  font-weight: 600;
  font-size: 24px;
  margin: 10px 0;
  color: var(--grey-color);
}
.product_detail_review_wrapper li {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.product_detail_review_wrapper li img {
  width: 80px;
  height: 80px;
  border-radius: 100rem;
  object-fit: cover;
}
.product_detail_review_wrapper .name_user_comment {
  font-weight: 600;
  font-size: 18px;
  color: var(--grey-color);
}
.product_detail_review_wrapper .date_user_comment {
  font-weight: 300;
  font-size: 12px;
  color: #ccc;
}
.product_detail_review_wrapper .content_comment {
  font-weight: 300;
  font-size: 14px;
}
/* responsive */
@media only screen and (max-width: 870px) {
  .product_detail_main {
    grid-template-columns: 1fr;
  }
  .product_detail_main_infor {
    grid-column: auto;
  }
  .product_detail_img_show img {
    height: 500px;
  }
}
@media only screen and (max-width: 480px) {
  .product_detail_end {
    flex-direction: column;
    align-items: center;
  }
  .product_detail_common {
    justify-content: center;
    width: 100%;
  }
}
