@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  font-family: "DM Sans", sans-serif;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  color: #000000;
  text-decoration: none;
}

.scroll_style::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #f5f5f5;
}

.scroll_style::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.scroll_style::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #979494;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200deg, 20%, 80%);
  }
  100% {
    background-color: hsl(200deg, 20%, 95%);
  }
}
.header {
  background: #f1f1f1;
}
.header .heading_header {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  border-bottom: 1px solid #ccc;
}
.header .heading_header .icon_header_search {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 25%;
  position: relative;
}
.header .heading_header .icon_header_search .drop_down_search {
  position: absolute;
  width: calc(100% - 34px);
  background-color: white;
  top: 100%;
  z-index: 1000;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 5px;
  padding: 10px;
  display: none;
}
.header .heading_header .icon_header_search .drop_down_search .product_search_item_link {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}
.header .heading_header .icon_header_search .drop_down_search .product_search_item_link img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.header .heading_header .icon_header_search .drop_down_search .product_search_item_link .product_search_item_text p {
  font-size: 14px;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.header .heading_header .icon_header_search .drop_down_search .product_search_item_link .product_search_item_text span {
  font-size: 12px;
}
.header .heading_header .icon_header_search .header_icon_search {
  cursor: pointer;
}
.header .heading_header .icon_header_search .input_header_search {
  outline: none;
  border-radius: 10px;
  width: 0%;
  overflow: hidden;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 5px 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.header .heading_header .icon_header_search .show_input {
  border: 1px solid #ccc;
  background-color: white;
  padding: 5px;
  width: 100%;
}
.header .heading_header .icon_header_right {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header .heading_header .header_logo {
  max-width: 100px;
  gap: 5px;
}
.header .heading_header .header_flex {
  display: flex;
  margin-right: 10px;
  align-items: center;
  position: relative;
  gap: 5px;
  cursor: pointer;
}
.header .heading_header .header_flex .sl_item {
  position: absolute;
  bottom: 50%;
  background-color: rgb(243, 96, 96);
  border-radius: 100rem;
  right: -16px;
  font-size: 14px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0%;
  color: white;
}
.header .heading_header .header_flex a {
  color: #000000;
  text-decoration: none;
}
.header .wrap_link_menu {
  justify-content: space-between;
  display: flex;
  list-style: none;
  padding: 15px 0;
}
.header .wrap_link_menu a {
  text-decoration: none;
  color: #000000;
}
.header .wrap_link_menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #f5f5f5;
}
.header .wrap_link_menu::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  background-color: #f5f5f5;
}
.header .wrap_link_menu::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #979494;
}
.header .product_search_item_skeleton {
  display: flex;
  gap: 5px;
  margin-top: 8px;
}
.header .product_search_item_skeleton .skeleton_img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.header .product_search_item_skeleton .skeleton_text {
  width: 100%;
}
.header .product_search_item_skeleton .skeleton_text p {
  width: 100%;
  height: 10px;
  margin: 10px 0;
}
.header .product_search_item_skeleton .skeleton_text span {
  width: 60%;
  height: 5px;
  display: block;
}

@media screen and (max-width: 1024px) {
  .header .hero_collections .hero_text h3 {
    font-size: 50px;
  }
  .header .hero_collections .hero_text p {
    font-size: 25px;
  }
  .header .wrap_link_menu a {
    white-space: nowrap;
  }
  .wrap_link_menu {
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    gap: 10px;
  }
}
@media screen and (max-width: 768px) {
  .header .hero_collections .hero_img {
    display: none;
  }
  .header .hero_collections .hero_text {
    max-width: 100%;
  }
}
.hero_collections {
  position: relative;
  padding: 30px 0;
  background: #f1f1f1;
}
.hero_collections .hero_img_flower {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.hero_collections .hero_img_flower img {
  max-height: 200px;
}
.hero_collections .wrap_content_hero {
  display: flex;
  gap: 20px;
}
.hero_collections .hero_text {
  padding: 40px;
  max-width: 50%;
}
.hero_collections .hero_text h3 {
  font-weight: 300;
  font-size: 74px;
}
.hero_collections .hero_text p {
  font-weight: 400;
  font-size: 30px;
}
.hero_collections .hero_text button {
  margin-top: 10px;
  background-color: #1e2832;
  border: none;
  color: white;
  padding: 12px 20px;
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.hero_collections .hero_img {
  margin-left: 40px;
  position: relative;
}
.hero_collections .hero_img .hero_img_border {
  position: absolute;
  right: -10px;
  top: 10px;
}
.hero_collections .hero_img .hero_img_show {
  position: relative;
  z-index: 1;
}
.hero_collections .hero_img img {
  border-bottom-right-radius: 110px;
  border-top-left-radius: 100px;
  max-height: 400px;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .header .hero_collections .hero_text h3 {
    font-size: 50px;
  }
  .header .hero_collections .hero_text p {
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
  .hero_collections .hero_img {
    display: none;
  }
  .hero_collections .hero_text {
    max-width: 100%;
  }
}
.brand_section {
  margin: 60px 0;
  padding: 0 10px;
}
.brand_section .brand_img {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.brand_section .brand_img img {
  max-width: 150px;
}
.brand_section .brand_show_img {
  margin-top: 40px;
}
.brand_section .brand_show_img_right {
  position: relative;
  padding-left: 35px;
}
.brand_section .brand_show_img_right img {
  height: 100%;
  object-fit: cover;
}
.brand_section .brand_show_img_right .text_brand_deg {
  position: absolute;
  width: 100%;
  top: 50%;
  font-size: 30px;
  white-space: nowrap;
  text-transform: uppercase;
  height: 100%;
  text-align: center;
  transform: translateY(-50%) rotate(-90deg);
  left: 0px;
}
.brand_section .brand_show_img_left,
.brand_section .brand_show_img {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
}
.brand_section .brand_show_img_left_div {
  overflow: hidden;
  cursor: pointer;
  height: 100%;
}
.brand_section .brand_show_img_left_div:hover img {
  transition: all linear 0.25s;
  transform: scale(110%);
}

@media screen and (max-width: 1024px) {
  .brand_section .brand_show_img_right .text_brand_deg {
    font-size: 20px;
  }
}
@media screen and (max-width: 870px) {
  .brand_section .brand_img {
    flex-wrap: wrap;
    justify-content: center;
  }
  .brand_section .brand_show_img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
  .brand_section .brand_show_img_right .text_brand_deg {
    display: none;
  }
  .brand_section .brand_show_img_right {
    padding-left: 0;
  }
}
.best_sale,
.new_product {
  margin: 40px 0;
}
.best_sale h3,
.new_product h3 {
  text-align: center;
  font-weight: 500;
  font-size: 45px;
  color: #000000;
}
.best_sale_control,
.new_product_control {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 20px 0;
}
.best_sale_control li,
.new_product_control li {
  color: #777777;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 600;
}
.best_sale_control li.active,
.new_product_control li.active {
  color: #000000;
}
.best_sale_content,
.new_product_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.best_sale_item,
.new_product_item {
  cursor: pointer;
}
.best_sale_item a,
.new_product_item a {
  color: #000000;
  text-decoration: none;
}
.best_sale_item_hover,
.new_product_item_hover {
  display: flex;
  position: absolute;
  background-color: #1e2832;
  color: white;
  bottom: 0;
  padding: 0 10px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 0;
  overflow: hidden;
  transition: height ease 0.25s;
}
.best_sale_item_hover_shopnow,
.new_product_item_hover_shopnow {
  display: flex;
  gap: 5px;
  align-items: center;
  text-transform: capitalize;
}
.best_sale_item:hover .best_sale_item_hover,
.best_sale_item:hover .new_product_item_hover,
.new_product_item:hover .best_sale_item_hover,
.new_product_item:hover .new_product_item_hover {
  height: 50px;
}
.best_sale_item_img,
.new_product_item_img {
  position: relative;
}
.best_sale_item img,
.new_product_item img {
  width: 100%;
  max-height: 350px;
  height: 350px;
  object-fit: cover;
}
.best_sale_item_name,
.new_product_item_name {
  margin: 10px 0;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.best_sale_item_category_cost,
.new_product_item_category_cost {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.best_sale_item_category,
.new_product_item_category {
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  color: #777777;
}
.best_sale .swiper-button-prev,
.best_sale .swiper-button-next,
.new_product .swiper-button-prev,
.new_product .swiper-button-next {
  width: 40px;
  height: 40px;
  background-color: rgb(230, 223, 223);
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  color: rgba(2, 1, 10, 0.8078431373);
}
.best_sale .swiper-button-next:after,
.best_sale .swiper-rtl .swiper-button-prev:after,
.best_sale .swiper-button-prev:after,
.best_sale .swiper-rtl .swiper-button-next:after,
.new_product .swiper-button-next:after,
.new_product .swiper-rtl .swiper-button-prev:after,
.new_product .swiper-button-prev:after,
.new_product .swiper-rtl .swiper-button-next:after {
  font-size: 25px !important;
}

@media screen and (max-width: 1024px) {
  .new_product_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .new_product_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media screen and (max-width: 468px) {
  .new_product_content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
.banner_brand {
  position: relative;
}
.banner_brand .za {
  position: absolute;
  right: 0;
}
.banner_brand .banner_brand_img {
  max-height: 500px;
}
.banner_brand .banner_brand_img img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}
.banner_brand .banner_brand_text {
  position: absolute;
  bottom: 10%;
  max-width: 30%;
  left: 50%;
  z-index: 2;
}
.banner_brand .banner_brand_text p {
  font-weight: 400;
  font-size: 20px;
  color: #f2f2f2;
  margin: 20px 0;
}
.banner_brand .banner_brand_text button {
  padding: 10px 9px;
  cursor: pointer;
}

@media screen and (max-width: 870px) {
  .banner_brand .banner_brand_text img {
    width: 150px;
  }
  .banner_brand .banner_brand_text p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-width: 300px;
    letter-spacing: 1px;
    word-spacing: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media screen and (max-width: 480px) {
  .banner_brand {
    display: none;
  }
}
.flow_section {
  padding: 80px 0;
  background: #f1f1f1;
}
.flow_section h2 {
  font-weight: 500;
  font-size: 45px;
  text-align: center;
  color: #000000;
  margin: 40px 0;
}
.flow_section .flow_img {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;
}
.flow_section .flow_img_item {
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}
.flow_section .flow_img_item .intagram {
  position: absolute;
  background: #000;
  opacity: 0;
  inset: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity ease 0.25s;
}
.flow_section .flow_img_item .intagram i {
  color: white;
  font-size: 30px;
}
.flow_section .flow_img_item:hover .intagram {
  opacity: 0.5;
}
.flow_section .input_flow {
  margin: 0 auto;
  max-width: 70%;
  display: flex;
  gap: 5px;
}
.flow_section .input_flow input {
  flex: 1;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #000;
}
.flow_section .input_flow button {
  width: 100px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #000;
  cursor: pointer;
}

@media screen and (max-width: 870px) {
  .flow_section .flow_img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
@media screen and (max-width: 470px) {
  .flow_section h2 {
    font-size: 30px;
  }
  .flow_section .input_flow {
    max-width: 90%;
  }
}
.footer .top_footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin: 40px 0;
}
.footer .top_footer .footer_col1 {
  grid-column: 1/3;
  padding-left: 20px;
  line-height: 2;
}
.footer .top_footer .footer_col1 h2 {
  font-weight: 600;
  font-size: 16px;
}
.footer .top_footer .left_footer_text {
  display: flex;
}
.footer .top_footer .footer_col {
  line-height: 2;
}
.footer .top_footer .footer_col h2 {
  font-weight: 600;
  font-size: 16px;
}
.footer .end_footer {
  display: flex;
  color: white;
  justify-content: space-between;
}
.footer .bottom_footer {
  padding: 10px;
  background-color: #1e2832;
  justify-content: space-between;
}
.footer .scroll_top {
  cursor: pointer;
}

@media screen and (max-width: 870px) {
  .footer .top_footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    place-items: center;
  }
  .footer .top_footer .footer_col1 {
    grid-column: unset;
  }
  .footer .top_footer .footer_col:last-child {
    grid-column: 2/3;
  }
}
.product_detail_container {
  padding: 10px;
}

.controller_detail_product {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  padding-left: 0;
}

.controller_detail_product_link {
  display: flex;
  align-items: center;
  gap: 5px;
}

.controller_detail_product_link a {
  text-decoration: none;
  color: var(--grey-color);
}

.controller_detail_product_link img {
  height: 10px;
  width: 10px;
}

.product_detail_main {
  padding: 37px;
  border: 1px solid #bfbfbf;
}

.product_detail_main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product_detail_img_show img {
  height: 400px;
  height: 400px;
  min-width: 342px;
  object-fit: cover;
  width: 100%;
}

.product_detail_img_show {
  overflow: hidden;
  border-radius: 10px;
}

.product_detail_img_pview {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 5px;
}

.product_detail_img_pview img {
  max-height: 90px;
  width: 100px;
  border-radius: 5px;
  object-fit: cover;
  opacity: 0.5;
  cursor: pointer;
}

.product_detail_img_pview .active {
  opacity: 1;
}

.product_detail_main_infor {
  grid-column: 2/4;
}

.product_name_detail {
  font-size: 35px;
  font-weight: 600;
  color: var(--grey-color);
}

.product_detail_start_vote {
  display: flex;
  gap: 3px;
  margin: 5px 0;
}

.product_detail_start_vote i {
  color: #ff9f43;
}

.product_detail_cost {
  font-size: 20px;
  font-weight: 600;
  color: var(--grey-color);
  margin: 20px 0;
}

.product_detail_shipping {
  display: flex;
  gap: 20px;
}

.product_detail_shipping_item {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--grey-color);
  font-size: 14px;
}

.product_detail_description {
  color: var(--grey-color);
  margin: 20px 0;
}

.product_detail_description h3 {
  font-weight: 600;
  font-size: 15px;
}

.product_detail_description p {
  font-size: 14px;
}

.product_detail_common {
  display: flex;
  gap: 30px;
  align-items: center;
  width: 150px;
  justify-content: space-between;
  margin: 20px 0;
}

.product_detail_common span {
  font-size: 12px;
  font-weight: 600;
  color: #7367f0;
  padding: 5px 10px;
  border-radius: 17px;
  background: rgba(115, 103, 240, 0.12);
}

.product_detail_common p {
  font-weight: 600;
  font-size: 15px;
  color: var(--grey-color);
}

.product_detail_color_items {
  display: flex;
  gap: 10px;
}

.product_detail_color_items p {
  height: 25px;
  width: 25px;
  background-color: #7367f0;
  border-radius: 100rem;
  cursor: pointer;
}

.product_detail_color_items .active {
  outline: 1px solid var(--grey-color);
  outline-offset: 1px;
}

.product_detail_color_items :first-child {
  background-color: black;
}

.product_detail_color_items :nth-child(2) {
  background-color: pink;
}

.product_detail_color_items :nth-child(3) {
  background-color: yellow;
}

.product_detail_end {
  display: flex;
  align-items: center;
  gap: 50px;
}

.product_detail_button button {
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 100rem;
  background-color: #388186;
  color: white;
  outline: none;
  border: none;
}

.product_detail_button :last-child {
  border: 1px solid #388186;
  color: #388186;
  background-color: white;
}

.product_detail_review {
  padding: 38px;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.content_comment_input {
  width: 100%;
  resize: none;
  padding: 10px;
  height: 100px;
  border: 1px solid rgb(56, 129, 134);
  outline: none;
  border-radius: 5px;
}

.btn-comment {
  float: right;
  padding: 5px;
  width: 150px;
  cursor: pointer;
  background-color: rgb(56, 129, 134);
  border-radius: 12px;
  border: none;
  color: white;
}

.product_detail_review h3 {
  font-weight: 600;
  font-size: 24px;
  margin: 10px 0;
  color: var(--grey-color);
}

.product_detail_review_wrapper li {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.product_detail_review_wrapper li img {
  width: 80px;
  height: 80px;
  border-radius: 100rem;
  object-fit: cover;
}

.product_detail_review_wrapper .name_user_comment {
  font-weight: 600;
  font-size: 18px;
  color: var(--grey-color);
}

.product_detail_review_wrapper .date_user_comment {
  font-weight: 300;
  font-size: 12px;
  color: #ccc;
}

.product_detail_review_wrapper .content_comment {
  font-weight: 300;
  font-size: 14px;
}

/* responsive */
@media only screen and (max-width: 870px) {
  .product_detail_main {
    grid-template-columns: 1fr;
  }
  .product_detail_main_infor {
    grid-column: auto;
  }
  .product_detail_img_show img {
    height: 500px;
  }
}
@media only screen and (max-width: 480px) {
  .product_detail_end {
    flex-direction: column;
    align-items: center;
  }
  .product_detail_common {
    justify-content: center;
    width: 100%;
  }
}
.wrap_404page {
  min-height: 500px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap_404page .wrap-text-404 {
  text-align: center;
}
.wrap_404page .wrap-text-404 h2 {
  font-size: 200px;
  font-weight: 700;
}
.wrap_404page .wrap-text-404 p {
  font-size: 25px;
  font-weight: 600;
}

.wrap_profile {
  height: 500px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap_profile label {
  display: block;
}
.wrap_profile .box_profile {
  background-color: whitesmoke;
  border-radius: 10px;
  width: 80%;
  height: 450px;
  display: flex;
  overflow-y: hidden;
}
.wrap_profile .box_profile .box_info {
  padding: 10px;
  width: 20%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #ccc;
}
.wrap_profile .box_profile .box_info img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 100rem;
}
.wrap_profile .box_profile .box_address {
  overflow-y: scroll;
  padding: 20px;
  width: 80%;
}
.wrap_profile .box_profile .box_address .wrap_list_aria {
  margin-top: 30px;
}
.wrap_profile .box_profile .box_address .wrap_list_aria .detailAddress {
  width: 100%;
  height: 100px;
  resize: none;
  border: 1px solid #ccc;
  padding: 5px;
}
.wrap_profile .box_profile .box_address .address_btn {
  padding: 10px;
  color: white;
  background-color: #6a5af9;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}
.wrap_profile .box_profile .box_address_heading {
  text-align: center;
  font-weight: 600;
  font-size: 25px;
}
.wrap_profile .box_profile .box_address .address_chose {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.wrap_profile .box_profile .box_address .address_chose .wrap_list_pr {
  width: 30%;
  position: relative;
}
.wrap_profile .box_profile .box_address .address_chose .list_province {
  position: absolute;
  display: none;
  background-color: white;
  width: 100%;
  list-style: none;
  margin-top: 5px;
  max-height: 200px;
  overflow-y: scroll;
}
.wrap_profile .box_profile .box_address .address_chose .list_province li {
  padding: 10px;
  cursor: pointer;
}
.wrap_profile .box_profile .box_address .address_chose .list_province li:hover {
  background-color: bisque;
}
.wrap_profile .box_profile .box_address .address_chose .list_province.open {
  display: block;
}
.wrap_profile .box_profile .box_address .address_chose input {
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}
.wrap_profile .wrap_list_address {
  border-top: 1px solid #ccc;
  padding: 10px;
}
.wrap_profile .wrap_list_address .user_name_order {
  font-size: 18px;
  font-weight: 600;
}
.wrap_profile .wrap_list_address .user_details_order,
.wrap_profile .wrap_list_address .user_add_order {
  color: #a8a29e;
  font-size: 14px;
}
.wrap_profile .wrap_list_address .user_details_order {
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.wrap_profile .wrap_list_address li {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  width: 400px;
}
.wrap_profile .wrap_list_address .wrap_list_address_btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wrap_profile .wrap_list_address .wrap_list_address_btn .btn_up {
  background-color: #6a5af9;
}
.wrap_profile .wrap_list_address .wrap_list_address_btn .btn_del {
  background-color: #ef4444;
}
.wrap_profile .wrap_list_address .wrap_list_address_btn button {
  padding: 5px 15px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

/*# sourceMappingURL=main.css.map */
