.header {
  background: #f1f1f1;
  .heading_header {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    border-bottom: 1px solid #ccc;
    .icon_header_search {
      display: flex;
      align-items: center;
      gap: 5px;
      width: 25%;
      position: relative;
      .drop_down_search {
        position: absolute;
        width: calc(100% - 34px);
        background-color: white;
        top: 100%;
        z-index: 1000;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        margin-top: 5px;
        padding: 10px;
        display: none;
        .product_search_item_link {
          display: flex;
          align-items: center;
          gap: 5px;
          margin-top: 5px;
          img {
            width: 50px;
            height: 50px;
            object-fit: cover;
          }
          .product_search_item_text {
            p {
              font-size: 14px;
              width: 150px;
              overflow: hidden;
              text-overflow: ellipsis;
              line-height: 1;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
            }
            span {
              font-size: 12px;
            }
          }
        }
      }
      .header_icon_search {
        cursor: pointer;
      }
      .input_header_search {
        outline: none;
        border-radius: 10px;
        width: 0%;
        overflow: hidden;
        border: 1px solid transparent;
        background-color: transparent;
        padding: 5px 0;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
      }
      .show_input {
        border: 1px solid #ccc;
        background-color: white;
        padding: 5px;
        width: 100%;
      }
    }
    .icon_header_right {
      display: flex;
      gap: 20px;
      align-items: center;
    }
    .header_logo {
      max-width: 100px;
      gap: 5px;
    }
    .header_flex {
      display: flex;
      margin-right: 10px;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      a {
        color: #000000;
        text-decoration: none;
      }
    }
  }
  .wrap_link_menu {
    justify-content: space-between;
    display: flex;
    list-style: none;
    padding: 15px 0;
    a {
      text-decoration: none;
      color: $text-dark;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar {
      width: 5px;
      height: 3px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #979494;
    }
  }

  .product_search_item_skeleton {
    display: flex;
    gap: 5px;
    margin-top: 8px;
    .skeleton_img {
      width: 50px;
      height: 50px;
      border-radius: 5px;
    }
    .skeleton_text {
      width: 100%;
      p {
        width: 100%;
        height: 10px;
        margin: 10px 0;
      }
      span {
        width: 60%;
        height: 5px;
        display: block;
      }
    }
  }
}
@include maxw(1024px) {
  .header .hero_collections .hero_text h3 {
    font-size: 50px;
  }
  .header .hero_collections .hero_text p {
    font-size: 25px;
  }
  .header .wrap_link_menu a {
    white-space: nowrap;
  }
  .wrap_link_menu {
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    gap: 10px;
  }
}
@include maxw(768px) {
  .header .hero_collections .hero_img {
    display: none;
  }
  .header .hero_collections .hero_text {
    max-width: 100%;
  }
}
