.hero_collections {
  position: relative;
  padding: 30px 0;
  background: #f1f1f1;

  .hero_img_flower {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    img {
      max-height: 200px;
    }
    right: 0;
  }
  .wrap_content_hero {
    display: flex;
    gap: 20px;
  }
  .hero_text {
    padding: 40px;
    max-width: 50%;
    h3 {
      font-weight: 300;
      font-size: 74px;
    }
    p {
      font-weight: 400;
      font-size: 30px;
    }
    button {
      margin-top: 10px;
      background-color: #1e2832;
      border: none;
      color: white;
      padding: 12px 20px;
      display: flex;
      gap: 5px;
      align-items: center;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  .hero_img {
    margin-left: 40px;
    position: relative;
    .hero_img_border {
      position: absolute;
      right: -10px;
      top: 10px;
    }
    .hero_img_show {
      position: relative;
      z-index: 1;
    }
    img {
      border-bottom-right-radius: 110px;
      border-top-left-radius: 100px;
      max-height: 400px;
      object-fit: cover;
    }
  }
}
@include maxw(1024px) {
  .header .hero_collections .hero_text h3 {
    font-size: 50px;
  }
  .header .hero_collections .hero_text p {
    font-size: 25px;
  }
}
@include maxw(768px) {
  .hero_collections .hero_img {
    display: none;
  }
  .hero_collections .hero_text {
    max-width: 100%;
  }
}
