.wrap_404page {
  min-height: 500px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  .wrap-text-404 {
    text-align: center;
    h2 {
      font-size: 200px;
      font-weight: 700;
    }
    p {
      font-size: 25px;
      font-weight: 600;
    }
  }
}
